.about{
    display: flex;
    gap: rem(185);
    max-width: rem(1500);
    align-items: center;
    margin-top: rem(139);

    img{
        width: rem(660);
        height: auto;
    }

    .about-content{
        display: flex; 
        flex-direction: column;
        gap: rem(56);

        .about-group-content{
            display: flex;
            flex-direction: column;
            gap: rem(20);

            p{
                @include text2;
            }
        }

    }

}