.about{
    display: flex;
    gap: rem(149);
    align-items: center;
    margin-top: rem(139);

    img{
        width: rem(660);
        height: auto;
    }

    .about-content{
        display: flex; 
        flex-direction: column;
        gap: rem(56);
        width: 40%;
        padding: rem(36);

        .about-group-content{
            display: flex;
            flex-direction: column;
            gap: rem(20);

            p{
                @include text2;
            }
        }

    }

}


@media screen and (max-width: 1024px){
    .about{
        flex-direction: column;
        gap: rem(50);

        img{
            width: 100%;
        }

        .about-content{
            gap: rem(40);
            width: 100%;
        }
    }
    
}