.post-comments{
    margin-top: rem(100);

    .comment-list{
        padding-top: rem(72);
        display: flex;
        flex-direction: column;
        gap: rem(48);

        .comment {
            background-color: #F9F9F9;
            padding: rem(32) rem(38);
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: rem(27);

            p{
                @include text2;
            }

            .reply-link{
                display: flex;
                gap: rem(16);
                align-items: center;
                
                a {
                    color: $dark_blue;
                    font-size: rem(20);
                    font-weight: 800;
                    letter-spacing: rem(1);
                }
            } 
        }
    }



    h4.reply-title{
        font-size: rem(38); 
        padding: rem(139) 0 rem(56) 0;
    }

    h3.reply-title{
        display: flex;
        gap: rem(16);
        align-items: baseline;

        a{
            color: $dark_blue;
        }

        #cancel-comment-reply-link {
            font-size: rem(13);
            margin-left: rem(56);
        }
    
    }

    .comment-form-author{
        order: -1;
        width: 100%;
    }
    
}

.dark .comment p, .dark .comment a, .dark .comment h5 {
    color: $dark_blue !important;
}
.dark .comment svg path{
    fill: $dark_blue !important;
}