.error404{

    .page-container{
       
        display: flex;
        flex-direction: column;
        gap: rem(51);

        p{
            @include text1;
        }

        form{
            margin: rem(10) 0 rem(44) 0;
        }
    }
}

