form{
    display: flex;
    flex-direction: column;
    gap: rem(32);
    align-items: start;

    input:not([type="submit"]){
        border: none !important;
        background: transparent;
        border-bottom: 1px solid $grey !important;
        padding-bottom: rem(8) !important;
        width: 100%;
        @include text2;

        &:focus{
            outline: none;
            border: none;
        }
    }

    .textarea-container {
        position: relative;
        width: 100%;

        &::after{
            content: '';
            position: absolute;
            top: rem(8);
            left: 0;
            width: rem(3);
            height: rem(18);
            background-color: $dark_blue;
        }

        textarea{
            border: none;
            background: transparent;
            border-bottom: rem(1) solid $grey;
            padding-bottom: rem(8);
            width: 100%;
            padding-left: rem(10);
            position: relative;
            @include text2;
        }
    }


    button{
        border: none;
        background-color: transparent;
    }

    input[type="submit"]{
        background-color: transparent;
        border: none;
        color: $dark_blue;
        font-size: rem(20);
        font-weight: 800;
        letter-spacing: rem(1);
    }
}

form.search-form{
    position: relative;
    width: 65%;

    button{
        position: absolute;
        right: 0;

        span{
            display: block;
            height: fit-content;
        }
    }
}

@media screen and (max-width: 1024px){
    form.search-form{
        width: 100%;
    }
    
}