.page-container .template{
    margin-top: rem(76);

    // h1{
    //     max-width: rem(1600);
    //     margin: auto;
    // }

    .featured-image{
        width: 75%;
        margin-top: rem(128);
        margin-left: auto;

         img{
            width: 100%;
            height: auto;
         }
    }

    .page-content{
        margin: rem(132) auto;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: rem(16);

        p{
            @include text1;
        }
    }
}

.home{
    .page-container{
        .featured-image{
            margin-top: rem(252);
        }
    }
}

.page-template-services-page-template{
    .page-container{
        .page-content{
            max-width: rem(1600);
            margin: rem(132) auto;

            p, h2{
                width: 50%;
            }
        }
    }

    .featured-image{
        width: 100%;
    }
}

.page-template-partners-template-page{
    // h1{
    //     margin: 0 auto rem(130) auto;
    //     max-width: rem(1600);
    // }
    .partners{
        // margin: 0 auto rem(269) auto;
        padding: 0;

    }
}

.page-default{
    margin-top: rem(76);

    h1, p{
        max-width: rem(1600);
        margin: auto;
    }

    .esgi-contact-columns{
        display: flex;
        margin: 132px auto;
        justify-content: end;
        max-width: 1600px;
        gap: rem(92);

        h5{
            padding-bottom: rem(24);
            text-align: right
        }

        p{
            @include text2;
            text-align: right;
        }
    }

    .esgi-contact-image{
        display: flex;
        justify-content: end;
    }

    .contact-form-container{
        max-width: rem(1600);
        margin: rem(132) auto;
        h2{
            padding-bottom: rem(9);
        }
        form{
            padding-top: rem(64);
        }
    }
}