.partners{
    max-width: rem(1600);
    margin: rem(132) auto rem(269) auto;

    h2{
        margin-bottom: rem(64);
    }
    
    .partners-container{
        display: flex;
        flex-wrap: wrap;
        gap: rem(114);
    }
}
