.partners{
    margin: rem(132) auto 0 auto;
    padding: rem(36);

    h2{
        margin-bottom: rem(64);
    }
    
    .partners-container{
        display: flex;
        flex-wrap: wrap;
        gap: rem(86);
    }
}


@media screen and (max-width: 1024px){
    .partners{
        margin: rem(100) auto rem(100) auto;
        padding: rem(36);
        
        h2{
            margin-bottom: rem(40);
        }
        
        .partners-container{
            gap: rem(50);

            img{
                width: 30%;
            }
        }
    }
    
}

@media screen and (max-width: 400px){
    .partners{
        
        .partners-container{
            justify-content: center;
            gap: rem(92);

            img{
                width: 40%;
            }
        }
    }
    
}