#ajax-response{
    width: 65%;

    .post-list{
        display: grid;
        column-gap: rem(48);
        row-gap: rem(68);
        grid-template-columns: 1fr 1fr;
    
        .post-item{
            display: flex;
            flex-direction: column;
            gap: rem(16);
            position: relative;

            img{
                width: 100%;
                height: rem(333);
                object-fit: cover;
                margin-bottom: rem(16);
            }

            h4 a {
                color: $dark_blue;
            }

            p{
                @include text2;
                margin-top: rem(16);
            }

            .post-category{
                position: absolute;
                top: rem(16);
                left: rem(16);

                a{
                    font-size: rem(20);
                    line-height: rem(25);
                    letter-spacing: rem(1);
                    color: white;
                    font-weight: 800;
                }
            }
            
        }
    }

    .post-list-pagination{
        padding-top: rem(69);
        display: flex;
        gap: rem(10);

        a, span{
            font-size: rem(16);
            line-height: rem(34);
            padding: rem(3) rem(15);

        }
        span.current{
            background-color: $dark_blue;
            color: white;
        }
        a.next, a.prev{
            display: none;
        }
    }
}

.archive.page-container{

    h1{
        margin-bottom: rem(128);
    }

    .row{
        display: flex;
        gap: rem(48);
    }
}

@media screen and (max-width: 1024px){
    #ajax-response{
        width: 100%;

        .post-list{
            grid-template-columns: 1fr;
        }
    }

    .archive.page-container{
        h1{
            margin-bottom: rem(64);
        }

        .row{
            flex-direction: column-reverse;
            gap: rem(48);
        }
    }
}