#ajax-response{
    width: 65%;

    .post-list{
        display: flex;
        flex-wrap: wrap;
        gap: rem(48);
    
        .post-item{
            width: calc(50% - rem(48));
            display: flex;
            flex-direction: column;
            gap: rem(16);
            position: relative;

            img{
                width: 100%;
                height: rem(333);
                object-fit: cover;
                margin-bottom: rem(16);
            }

            h4 a {
                color: $dark_blue;
            }

            p{
                @include text2;
                margin-top: rem(16);
            }

            .post-category{
                position: absolute;
                top: rem(16);
                left: rem(16);

                a{
                    font-size: rem(20);
                    line-height: rem(25);
                    letter-spacing: rem(1);
                    color: white;
                    font-weight: 800;
                }
            }
            
        }
    }
}

.blog .page-container{
    max-width: rem(1600);
    margin: auto;

    .row{
        display: flex;
        gap: rem(48);
    }
}