.search-element{
    position: relative;
    display: inline-block;
    padding-bottom: rem(7);

    &::after{
        content: "";
        display: block;
        height: rem(5);
        width: 100%;
        background: linear-gradient(to right, $orange, $pink);
        position: absolute;
        bottom: 0;
    }
}

.search-results-list{
    margin: rem(138) 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(48);

    .search-result-item{
        display: flex;
        flex-direction: column;
        gap: rem(27);

        .search-result-title a{
            color: $dark_blue;
            margin-bottom: rem(13)
        }

        .search-result-excerpt p{
            @include text2;
        }

        .search-result-date, .search-result-category a{
            @include text2;
            font-weight: 800;
            color: $dark_blue;
        }
    }

}

.search-form-container{
    h1{
        margin-bottom: rem(118);
    }
}

@media screen and (max-width: 1024px){

    .search-form-container{
        h1{
            margin-bottom: rem(64);
        }
    }    
}

@media screen and (max-width: 1500px) {
    .search-results-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 940px) {
    .search-results-list{
        grid-template-columns: 1fr;
        gap: rem(72);
        margin: rem(72) 0;
    }
}