.services{
    padding-top: rem(130);
    
    h2{
        padding-bottom: rem(64);
        max-width: rem(1600);
        margin: auto;
    }
    
    .services-container{
        display: flex;
    
        .service-image{
            width: 25%;
            object-fit: cover;
        }

        h4{
            margin: auto;
            position: relative;
            padding-bottom: rem(16);

            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 5px;
                background-image: linear-gradient(to right, $orange, $pink);
                margin-top: rem(20);
            }
        }
    }
}