.services{
    padding-top: rem(67);
    
    h2{
        padding: rem(64) rem(36);
        max-width: rem(1600);
        margin: auto;
    }
    
    .services-container{
        display: flex;
    
        .service-image{
            width: 25%;
            object-fit: cover;
        }

        h4{
            margin: auto;
            position: relative;
            padding-bottom: rem(16);

            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 5px;
                background-image: linear-gradient(to right, $orange, $pink);
                margin-top: rem(20);
            }
        }
    }
}

@media screen and (max-width: 960px){
    .services{
        padding: rem(100) rem(36) rem(36) rem(36);
        
        h2{
            padding: rem(40) 0;
        }
        
        .services-container{
            flex-direction: column;
            gap: rem(50);
            
            .service-image{
                width: 100%;
            }
        }
    }
    
}