$dark_blue: var(--primary-color);
$grey: var(--secondary-color);
$pink: var(--gradient-color-1);
$orange: var(--gradient-color-2);

:root{
	--bg-color: white;
	--text-color: #{$grey};
	--main-color: #{$dark_blue};
}

.dark{
	--bg-color: #{$dark_blue};
	--text-color: white;
}

.dark {
	a, h1, h2, h3, h4, h5, h6, p, button, input, button, textarea{
		color: white !important;
	}
}