$dark_blue: var(--color-1);
$grey: var(--color-2);
$pink: var(--color-3);
$orange: var(--color-4);

:root{
	--bg-color: white;
	--text-color: #{$grey};
	--main-color: #{$dark_blue};
}

.dark{
	--bg-color: #{$dark_blue};
	--text-color: white;
}

