$dark_blue: #050A3A;
$white: #FFF;
$grey: #8A8A8A;
$pink: #FF4FC0;
$orange: #FFD0A8;

:root{
	--bg-color: #{$white};
	--text-color: #{$grey};
	--main-color: #{$dark_blue};
}

.dark{
	--bg-color: #{$dark_blue};
	--text-color: #{$white};
}

